body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    /*margin: 0;
    padding: 0;
    /*background-color: darkblue;
    background-image: url(p1.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;*/
  }
  .slideshow-container {
    position: relative;
    height: 350px;
    margin:  0 auto;
    text-align: center;
    margin-top: 1%;
  }
  
  .slide {
    
    display:none;
    width: 100%;
    height: 100%;
  }
  .sc{
    font-size: medium;
    margin-top: 1%;
    font-family: 'Times New Roman', Times, serif;
    color:red;
  }
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .social-icons li {
    margin-left: 10px;
  }
  
  .social-icons img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-right:auto;
  }
  
  .logo img {
    height: 60px;
    width: 50px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin: left 50px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  .container{
    max-width: fit-content;
    max-height: fit-content;
    text-align:justify;
    color:white;
    padding: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: oblique;
    background-image: url(p4.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .container h1{
    margin-top: 25%;
    text-align: center;}
   .grid-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      grid-gap: 3%; 
    }
    
    .grid-item {
      border: 1px solid #000; 
      padding: 10px; 
    }
    
  .search-bar {
    margin-left: auto;
  }
  
  .search-bar form {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    padding: 5px;
    width: 200px;
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-left: 10px;
  }
  .s {
    margin-left: auto;
  }
  .s a{
    margin-left: 20px;
    color:#f2f2f2
  }